<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="assets\images\cjclogo.png" alt="cjclogo" width="70" height="50"> &nbsp; &nbsp;&nbsp;

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <button routerLink="" class="btn btn-outline-success">Home Page</button>
            </li>
            <li class="nav-item">
                <!-- <a class="nav-link" href="https://www.completejavaclasses.com/#!/">Link</a> -->
                <button routerLink="dept" class="btn btn-outline-danger">Submit Student Data</button>
            </li>
            <li class="nav-item">
                <!-- <a class="nav-link" href="https://www.completejavaclasses.com/#!/">Link</a> -->
                <button routerLink="employee" class="btn btn-outline-dark">View Student Data</button>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<router-outlet></router-outlet>