<div class="jumbotron">
    <h1 class="display-4">Student Data</h1>
    <div class="container">
      <table class="table table-striped">
        <tbody>
          <th>ID</th>
          <th>NAME</th>
          <TH>UNAME</TH>
          <TH>PASSWORD</TH>
          <tr *ngFor="let e of empList">
            <td>{{e.id}}</td>
            <td>{{e.name}}</td>
            <td>{{e.uname}}</td>
            <td>{{e.password}}</td>
            <td><a class="btn" (click)="editData(e)">
                <i class="fa fa-edit"></i>
                <!-- <i class="fa-solid fa-person-digging"></i> -->
              </a>
            </td>
            <td><a class="btn" (click)="deleteData(e.id)">
                <i class="fa fa-trash"></i>
                <!-- <i class="fa-solid fa-person-digging"></i>
                <i class="fa-light fa-person-digging"></i> -->
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div *ngFor="let e of empList">
    {{e.id}}
  </div>